footer

    div.footer-inner
        h1="Wincent"
        
        div.footer-inner-block.flex-space-between
            
            div.footer-flex-item
                div.footer-head
                    h2="CONTENT"
                div.footer-ul
                    ul.reset-list
                        li="API's"
                        li="Forum"
                        li="Authors"
                        li="Tags"
                        
            div.footer-flex-item
                div.footer-head
                    h2="HELP"
                div.footer-ul
                    ul.reset-list
                        li="Support"
                        li="FAQs"
                        li="Docs"
                        li="Github"
                        li="Follow"
                        
            div.footer-flex-item
                div.footer-head
                    h2="COMPANY"
                div.footer-ul
                    ul.reset-list
                        li="About"
                        li="Contact us"
                        li="Our license"
                        li="Plans and pricing"
                        li="What's new"
                        
            div.footer-flex-item
                div.footer-head
                    h2="SOCIAL MEDIA"
                div.footer-ul
                    ul.reset-list
                        li
                            a.cursor(href="/" target="_blank")
                                img(src="png/001-pinterest.png" alt="out pinterest account")
                                
                            a.cursor(href="/" target="_blank")
                                img(src="png/002-facebook.png" alt="out facebook account")
                                
                            a.cursor(href="/" target="_blank")
                                img(src="png/004-youtube.png" alt="out youtube channel")
                                
                            a.cursor(href="/" target="_blank")
                                img(src="png/005-twitter.png" alt="out twitter account")
                                
                            a.cursor(href="/" target="_blank")
                                img(src="png/006-instagram.png" alt="out instagram account")
                                
            