header
    
    
    a(href="/")
        h1="Wincent"
        
    div.left
        ul
            li.cursor='Authors'
            li.cursor='Packs'
            li.cursor='More'
        
    div.right
        ul
            li.cursor="Login"
            li.round-button.cursor='Register'