header
    
    
    a.flex-center(href="/")
        h1="Wincent"
        
    div.left.flex-center
        ul.reset-list.flex-space-between
            li.cursor='Authors'
            li.cursor='Packs'
            li.cursor='More'
        
    div.right.flex-center
        ul.reset-list.flex-space-between
            li.cursor="Login"
            li.round-button.cursor='Register'